<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    .fixed-div {
        position: fixed;
        top: 56px;
        left: 12.5%;
        width: 87.5%;
        height: 100%;
        overflow-y: auto;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }
    .card {
        background-color: #f7f7f7;
        border: none;
        height: 550px;
        width: 220px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-link {
        text-decoration: none;
    }
    .card-img-top {
        width: 100%;
        height: 340px;
        padding-bottom: 5%;
        object-fit: cover;
    }
    .card-name h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    .card-price p {
        text-align: left;
        color: rgb(55, 55, 55);
    }
    .card-description p {
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        text-align: left;
    }
    </style>
</head>
<body>
    <div>
      {{> message}}
    </div>
    <div class="fixed-div">
        <!-- Display items from the amazonItems array -->
        {{#each amazonItems}}
        <div class="card">
            <a href="https://www.amazon.com/{{this.dpUrl}}" class="card-link">
                <img src="{{this.imgUrl}}" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-body">
                <div class="card-name">
                    <h5>{{this.productDescription}}</h5>
                </div>
                <div class="card-price">
                    <p>${{this.price}}</p>
                </div>
                <div class="card-description">
                    <p>This product has been rated {{this.productRating}}.</p>
                </div>
                <button type="button" class="addToCloset btn btn-success" 
                        data-name="{{this.productDescription}}" 
                        data-price="{{this.price}}" 
                        data-image="{{this.imgUrl}}" 
                        data-description="This product has been rated {{this.productRating}}." 
                        data-categoryid="{{this.categoryid}}" value="Add to Closet">
                    Add to Closet
                </button>
            </div>
        </div>
        {{/each}}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            addCardsToPage();
        });
    </script>
    <script src="../../js/galleryScript.js"></script>
    <script src="../../js/search.js"></script>
</body>
</html>